.userCard {
  width: 99.5%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.userMessageCard{
  width: 40vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: right;
  gap: 7px;
  background-color: #D8D8D8;
  padding: 1rem;
  border-radius: 16.28px;
  border-radius: 8px 0px 8px 8px;
}

.userMessage p {
  display: flex;
  align-items: center;
  color: #080930;
  font-weight: medium;
  text-align: left;
  font-size: 14px;
  word-break: break-word;
}

.userMessageCard .hour{
  text-align: right;
  color: #37313C;
  font-weight: medium;
  font-size: 10px;
  margin-top: 10px;
}

.userMessageCard .hour{
  text-align: right;
  color: #37313C;
  font-weight: medium;
  font-size: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  /* User message */
  .userCard {
    width: 99.5%;
  }
  
  .userMessageCard{
    width: 40vw;
  }
}