.eventGroup{
  width: 90vw;
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.messagesPanel{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  overflow-y: auto;
}

/* User message */
.eventGroup .userCard {
  width: 99.5%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

/* Input icons */
.inputMessage{
  width: 90%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.8rem;
  border: #AEA8B2 1px solid;
  border-radius: 50px;  
  flex-shrink: 0;
}

.inputMessage input{
  width: 70%;
  height: 100%;
  border: none;
  background-color: none;
  color: #000000;
  font-size: 14px;
}

.inputMessage input::placeholder{
  color: #AEA8B2;
}

.inputMessage input:focus{
  outline: none;
}

.inputMessage .buttons{
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8rem;
}

.inputMessage .buttons button{
  background: none;
  border: none;
  cursor: pointer;

  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

@media (min-width: 768px) {
  .eventGroup{
    width: 60vw;
  }
  
  .messagesPanel{
    width: 100%;
  }
  
  /* User message */
  .eventGroup .userCard {
    width: 99.5%;
  }
  
  .inputMessage{
    width: 60vw;
  }
  
  .inputMessage input{
    width: 70%;
  }
}