.messageOptions {
  width: 90vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttonOption {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080930;
  font-weight: medium;
  font-size: 1rem;
  padding: 1rem;
  background: none;
  border: none;
}

.optionTextSelected {
  width: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e62875;
  font-weight: medium;
  padding: 1.4rem;
  font-size: 1rem;
}

.optionText {
  width: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080930;
  font-weight: medium;
  padding: 1.3rem;

  font-size: 1rem;
}


@media (min-width: 768px) {
  .messageOptions {
    width: 60vw;
  }
  
  .buttonOption {
    width: 30vw;
  }
}